:root{
--bg-color:#00FFFF;
}

html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    color: rgb(169, 162, 152);
}

/** class selector **/
.title{
    font-size: 20px;
    text-decoration: underline;
    color: rosybrown;
    font-style: italic;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    padding: 0 10px;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    row-gap: 5px;
}
.grid-cell{
    height: 220px;
    background-color: rgb(116, 79, 109);
}
/**ID SELECTOR */
#myimage,#mynewimage{
 border: 9px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 300px;
}
